
.about-section {
    background-color: #ffa500;
    color: #031620;
    padding: 2%;
    text-align: center;
    font-size: 30px;
    font-weight: 100;
    
}

*, *:before, *:after {
    box-sizing: inherit;
}

.column {
    float: left;
    width: 47%;
    margin-bottom: 16px;
    padding: 0 8px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px 4px; 
    border: 2px solid black; 
    border-radius: 10px; 
    color: #031620;
    background-color: #ffa500;
    padding: 2%;
}


.title {
    color: #031620;
}

.button {
    border: none;
    outline: 0;
    padding: .8%;
    color:  #fff;
    background-color:#031620;
    text-align: center;
    cursor: pointer;
    width: 95%;
    font-size: 25px;
}

@media screen and (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
}

h2, p {
    color: #031620;
}