
.table2 {
    width: 50%;
    border-collapse: collapse;
    background-color: #ffa500;
    color: #031620;
    margin: 0 auto;
    margin-bottom: 50px;
    font-size: 22px;
    height: 75vh;
}

.th1, .td1 {
    border: 2px solid #031620;
    padding: 10px;
    text-align: center;
}

.form-control {
    width: 100%;
    appearance: none;
    border-width: 0px;
    box-shadow: currentcolor 0px 0px 0px 1px;
    border-style: solid;
    border-radius: 6px;
    background: transparent;
    color: inherit;
    padding: 8px;
    font-weight: 700;
    font-size: 16px;
    margin-top: 8px;
    transition: all 0.2s ease 0s;
}

::placeholder {
    color: #031620;
}

button {
    background-color: #031620;
    color: #ffa500;
    padding: 20px;
    border-radius: 20px;
    width: 200px;
}

