body {
    font-family: 'Montserrat';
    margin: 0;
    padding: 0;
    /* background: linear-gradient(135deg, #667eea 0%, #5b4670 100%); */
    /* background-image: linear-gradient(200deg, rgba(171, 171, 171,0.05) 0%, rgba(171, 171, 171,0.05) 23%,rgba(90, 90, 90,0.05) 23%, rgba(90, 90, 90,0.05) 48%,rgba(65, 65, 65,0.05) 48%, rgba(65, 65, 65,0.05) 61%,rgba(232, 232, 232,0.05) 61%, rgba(232, 232, 232,0.05) 100%),linear-gradient(126deg, rgba(194, 194, 194,0.05) 0%, rgba(194, 194, 194,0.05) 11%,rgba(127, 127, 127,0.05) 11%, rgba(127, 127, 127,0.05) 33%,rgba(117, 117, 117,0.05) 33%, rgba(117, 117, 117,0.05) 99%,rgba(248, 248, 248,0.05) 99%, rgba(248, 248, 248,0.05) 100%),linear-gradient(144deg, rgba(64, 64, 64,0.05) 0%, rgba(64, 64, 64,0.05) 33%,rgba(211, 211, 211,0.05) 33%, rgba(211, 211, 211,0.05) 50%,rgba(53, 53, 53,0.05) 50%, rgba(53, 53, 53,0.05) 75%,rgba(144, 144, 144,0.05) 75%, rgba(144, 144, 144,0.05) 100%),linear-gradient(329deg, rgb(3,22,32),rgb(3,22,32)); */
    background-color: #031620;
    color: #FFFFFF;
}

.navbar{
    border-bottom: 1px solid #ffa500;
}

.navbar-expand-lg .navbar-nav .nav-link {
    transition: color 0.3s, background-color 0.3s, box-shadow 0.3s;
}

.navbar-expand-lg .navbar-nav .nav-link:hover {
    color: #000000;
    background-color: #ffa500;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Optional: Add a slight shadow */
}

.navbar-brand img {
    height: 30px; 
  }

.image-container {
    width: 500px;
    height: 200px;
}

.image-container img {
    width: 500px;
    height: auto;
    display: block;
}

.nav-link {
    color:#FFFFFF;
}


header {
    background-color: #ffa500;
    color: #000000;
    padding: 20px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    display: block;
}

footer {
    background-color: #ffa500;
    color: #000000;
    padding: 20px;
    text-align: center;
    font-size: 16px;
}

footer p {
    margin: 5px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #ffa500;
    color: #000000;
}

th, td {
    border: 1px solid #031620;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #ffa500;
}

.center {
    text-align: center;
    margin: 350px;
}

.button {
    padding: 20px 40px;
    font-size: 16px;
    background-color: #ffa500;
    color: #000000;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bold;
    font-size: 25px;
}

.button:hover {
    background-color: #814a10;
}

.hero {
    color: #ffffff;
    padding: 100px 0;
}

.hero-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero img {
    max-width: 100%;
    height: auto;
    margin-right: 50px; /* Adjust spacing between image and text */
}

.hero-text {
    text-align: center;
}

.hero-text h1 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 20px;
}

.hero-text p {
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 20px;
}
