

.table2 {
    width: 40%;
    border-collapse: collapse;
    background-color: #ffa500;
    color: #031620;
    margin: 0 auto;
    margin-bottom: 50px;
    font-size: 22px;
    height: 75vh;
}

.th1, .td1 {
    border: 2px solid #031620;
    padding: 10px;
    text-align: center;
}

/* .button {
    font-size: 5px;
    color: #031620;
    border-radius: black 5px;
    font-weight: bold;
    font-size: 25px;
} */
.button {
    background-color: #031620;
    color: #ffa500;
    padding: 25px;
    text-decoration: none;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 25px;
}

