
.table2 {
    width: 75%;
    border-collapse: collapse;
    background-color: #ffa500;
    color: #031620;
    margin: 0 auto;
    margin-bottom: 50px;
    font-size: 18px;
}

.th1, .td1 {
    border: 1px solid #031620;
    padding: 8px;
    text-align: center;
}
/* 
th {
    background-color: #ffa500;
} */

.center {
    text-align: center;
    margin: 350px;
}

button {
    background-color: #031620;
    color: #ffa500;
    padding: 15px;
    text-decoration: none;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 22px;
}

a {
    background-color: #031620;
    color: #ffa500;
    padding: 15px;
    padding-right: 35px;
    padding-left: 35px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 22px;
}